<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
      
    <title>Create a New Trip</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
      body {
        font: 20px "Raleway", sans-serif;
        line-height: 1.8;
        color: #f0e4d7;
      }
      p {font-size: 16px;}
      .margin {margin-bottom: 45px;}
  
    
      h1 {
          letter-spacing: 6px;
          text-transform: uppercase;
          font: 70px "Raleway", sans-serif;
          color: rgb(255, 255, 255);
      }
    
      h2 {
        letter-spacing: 5px;
          text-transform: none;
          font: 50px "Raleway", sans-serif;
          color: rgb(0, 0, 0);   
      }
    
      h3 {
        letter-spacing: 5px;
          text-transform: uppercase;
          font: 40px "Raleway", sans-serif;
          color: rgb(0, 0, 0);   
      }
    
      h4 {
        letter-spacing: 5px;
          text-transform: none;
          font: 35px "Raleway", sans-serif;
          color: rgb(0, 0, 0);   
      }
    
      h5 {
        letter-spacing: 5px;
          text-transform: none;
          font: 20px "Raleway", sans-serif;
          color: rgb(0, 0, 0);   
      }
       p {
        letter-spacing: 5px;
          text-transform: none;
          font: 20px "Raleway", sans-serif;
          color: rgb(0, 0, 0);   
       }
    
       li {
        letter-spacing: 4px;
          text-transform: none;
          font: 15px "Raleway", sans-serif;
          color: rgb(0, 0, 0); 
       }
  
    label {
        letter-spacing: 5px;
        text-transform: none;
        font: 25px "Raleway", sans-serif;
        color: rgb(0, 0, 0);   
      }
  
      input {
          letter-spacing: 1px;
          text-transform: none;
          font: 25px "Raleway", sans-serif;
          color: rgb(0, 0, 0);   
      }
  
      button {
        border: 1px solid rgb(0, 0, 0);
        background-color: #002521;
        color: rgb(255, 255, 255);
        padding: 12px 28px;
        font: 25px "Raleway", sans-serif;
        letter-spacing: 5px;
        cursor: pointer;
        border-radius: 12px;
      }
    
      .bg-2 { 
        background-image: linear-gradient(#d7eaf0, rgb(255, 255, 255));
        /* background-color: #d7eaf0;  */
        color: #000000;
      }
  
      
      .bg-3 { 
        background-color: #ffffff; 
      }
      .bg-4 { 
        background-color: #2f2f2f;
        color: #fff;
      }
      .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
      }
      .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
      }
      .navbar-nav  li a:hover {
        color: #002521 !important;
      }
      </style>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
  <div class="container-fluid bg-2 text-center">
    <h2>Add a Destination</h2>
          <br>
          <br>
          <br>
          <div class="text-left">
            <form action="/add_destination" method="POST">
                <label>Country:</label>
                <input type='text' id='country' name="country" required placeholder="Japan" />
                <br>
                <br>
                <br>
                <label>City:</label>
                <input type='text' id='city' name="city" required placeholder="Hiroshima" />
                <br>
                <br>
                <br>
                <label>Sight Seeing:</label>
                <input type='text' id='sightseeing' name="sightseeing" required placeholder="Shrine Island" />
                <br>
                <br>
                <br>
                <button type="submit" value="Submit">Add Destination</button>
          </form>

          </div>

      </div>
      <div class="jumbotron">
      <h1>Trips</h1>
      <div class="table-responsive">
        <table class="table table-striped table">
          <thead>
            <tr>
              <th scope="col">ID:</th>
              <th scope="col">Country</th>
              <th scope="col">City</th>
              <th scope="col">Sight Seeing</th>
            </tr>
          </thead>
      <tbody>
          <% locals.my_result.destination.map(function(destination){ %>
            <tr>
              <form action="/edit_destination" method="POST">
                <td><input type='text' id='id' name="id" value="<%= destination.id %>" /></td>
                <td><input type='text' id='country' name="country" value="<%= destination.country %>" /></td>
                <td><input type='text' id= 'city' name="city" value="<%= destination.city %>"/></td>
                <td><input type='text' id='sightseeing' name="sightseeing" value="<%= destination.sightseeing %>"/></td>

                <td><input type="submit" type="button" class="btn btn-secondary" value="Edit" /></td>
              </form>
              <form action="/delete_destination" method="POST">
                <td>
                  <input type='hidden' id='id' name="id" required value="<%= destination.id %>" />
                  <input type="submit" class="btn btn-danger" value="Delete" />
                </td>
              </form>
            </tr>
    </div>
    <% }) %>
      </tbody>
      </table>
      </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>